<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Page</title>
</head>
<body>
<h1>Welcome to services page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi consequatur dolorem exercitationem praesentium
    quas sit veniam! Cupiditate dolores dolorum eius eum laborum laudantium molestiae pariatur provident rerum sapiente!
    Autem, deserunt dignissimos iste labore non reprehenderit sapiente vero. Amet, cupiditate explicabo ipsam iure magni
    modi necessitatibus perspiciatis praesentium repellendus veniam!</p>
<button>Click here to like</button>
</body>
</html>